@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --white-100: #fff;
  --gray-55: #737373;
  --blue-60: #185eba;
  --blue-50: #257ae8;
  --blue-10: #cfe2fa;
}

.product-info:not(:first-child) {
  font-size: 1.3rem;
  color: var(--gray-55);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--white-100);
  width: 100%;
  height: 160px;
  box-shadow: 0 0 8px rgba(0,0,0,.300);;
}

nav {
  margin-bottom: 20px;
}

i {
  color: black;
}

.user-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.jewelry-link {
  font-size: 1.3rem;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.icons {
  display: flex;
  align-items: center;
}

.icons {
  justify-content: flex-end;
  width: calc((100% - 200px) / 2);
}

.icons > a {
  margin-right: 20px;
}

.info-links {
  display: flex;
  width: calc((100% - 200px) / 2);
  justify-content: flex-start;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
}

.link > a {
  font-size: 1.1rem;
}

.link > a,
.link > a:visited {
  color: black;
}

.link > a:hover {
  cursor: pointer;
}

#xmark {
  visibility: hidden;
}

#xmark:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 2px solid var(--gray-55);
  border-radius: 10px;
}

.search:focus-within, .search:hover {
  border-color: var(--blue-50);
}

.search > i{
  color: var(--gray-55);
}

.search-input {
  width: 500px;
  height: 25px;
  font-size: 1.3rem;
  padding: 5px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.pop {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.products-filters {
  display: flex;
  position: relative;
  margin: 10px 0 10px 0;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  font-size: 2rem;
  margin-right: 50px;
}

.categories > a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 450px;
  padding: 7px;
  border-radius: 10px;
}

.product:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,.300);
}

.btn-to-cart {
  width: 200px;
  height: 50px;
  border: none;
  background: var( --blue-50);
  font-size: 1.2rem;
  color: var(--white-100);
  border-radius: 10px;
  align-self: center;
}

.btn-to-cart:hover {
  cursor: pointer;
  background-color: var(--blue-60);
}

.select-category, .select-material {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

.select-filter {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* border: 2px solid var(--gray-55); */
  width: 250px;
  height: 25px;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.select {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--gray-55);
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;

  /* padding: 8px; */
  /* margin-bottom: 15px; */
}

.sort-filters {
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  z-index: 99;
  border-radius: 3px;
  padding: 10px 0px 10px 0px;
  box-shadow: 0 0 8px rgba(0,0,0,.300);
  background-color: #fff;
}

.sort {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
}

#fame {
  background-color: var(--blue-10);  
}

.sort:hover {
  cursor: pointer;
  background-color: var(--blue-10);
}

#sort-up-f {
  height: 5px;
}

#sort-down-f {
  height: 20px;
}

#sort-up-c, #sort-up-m {
  height: 7px;
}

#sort-down-c, #sort-down-m {
  height: 43px;
}

#sort-down-c, #sort-down-m,  #sort-down-f {
  display: none;
}

.available-categories, .available-materials {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.categories-item, .material-item {
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 10px;
  margin-top: 3px;
}

.categories-item:hover {
  cursor: pointer;
  background-color: var(--blue-10);
}

.material-item:hover {
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
}

.material-check {
  width: 18px;
  height: 18px;
}

.profile {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 275px;
  gap: 5;
}

.user-profile > input {
  width: 300px;
  height: 15px;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid var(--gray-55);
  border-radius: 8px;
}

input:focus,
input:hover {
  outline: none;
  border-color: var(--blue-50);
}

.btn {
  width: 250px;
  height: 40px;
  border: none;
  background: var(--blue-50);
  font-size: 1.2rem;
  color: var(--white-100);
  border-radius: 10px;
  align-self: center;
  margin-top: 20px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--blue-60);
}

.user-cart {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.items {
  display: grid;
  width: 1000px;
  grid-template-columns: 500px 200px 50px;
}