@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --white-100: #fff;
  --gray-55: #737373;
  --blue-60: #185eba;
  --blue-50: #257ae8;
  --blue-10: #cfe2fa;
}

.product-info:not(:first-child) {
  font-size: 1.3rem;
  color: var(--gray-55);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--white-100);
  width: 100%;
  height: 160px;
  box-shadow: 0 0 8px rgba(0,0,0,.300);;
}

nav {
  margin-bottom: 20px;
}

i {
  color: black;
}

.user-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.jewelry-link {
  font-size: 1.3rem;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.icons {
  display: flex;
  align-items: center;
}

.icons {
  justify-content: flex-end;
  width: calc((100% - 200px) / 2);
}

.icons > a {
  margin-right: 20px;
}

.info-links {
  display: flex;
  width: calc((100% - 200px) / 2);
  justify-content: flex-start;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
}

.link > a {
  font-size: 1.1rem;
}

.link > a,
.link > a:visited {
  color: black;
}

.link > a:hover {
  cursor: pointer;
}

#xmark {
  visibility: hidden;
}

#xmark:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 2px solid var(--gray-55);
  border-radius: 10px;
}

.search:focus-within {
  border-color: var(--blue-50);
}

.search > i{
  color: var(--gray-55);
}

.search-input {
  width: 500px;
  height: 25px;
  font-size: 1.3rem;
  padding: 5px;
  border: none;
}

.search-input:focus {
  outline: none;
}

.pop {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.products-filters {
  display: flex;
  align-items: start;
  /* justify-content: space-between; */
  margin: 10px 0 10px 0;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  font-size: 2rem;
  margin-right: 50px;
}

.categories > a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 450px;
  padding: 7px;
  border-radius: 10px;
}

.product:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,.300);
}

.btn-to-cart {
  width: 200px;
  height: 50px;
  border: none;
  background: var( --blue-50);
  font-size: 1.2rem;
  color: var(--white-100);
  border-radius: 10px;
  align-self: center;
}

.btn-to-cart:hover {
  cursor: pointer;
  background-color: var(--blue-60);
}

.select-category {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.select-category:hover {
  cursor: pointer;
}

#sort-up {
  height: 7px;
}

#sort-down {
  height: 43px;
}

#sort-down {
  display: none;
}

.available-categories {
  display: none;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.categories-item {
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 10px;
  margin-top: 3px;
}

.categories-item:hover {
  cursor: pointer;
  background-color: var(--blue-10);
}